error_message: Oops! Something went wrong. Ups! Hier funktionert etwas nicht!

initial_greeting: Um den Chatbot nutzen zu können, müssen Sie bitte unserer Datenschutzerklärung zustimmen. \n\n To proceed, please agree to our chatbot's privacy policy.

keep_conversation_days: 180

languages:
  English:
    agree_button: Agree - English
    agree_payload: /Agree

  Deutsch:
    agree_button: Zustimmen - Deutsch
    agree_payload: /Zustimmen


