torch
torchvision
torchaudio
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
certifi
charset-normalizer
click
datasets
dill
fastapi
filelock
frozenlist
fsspec
h11
hf-xet
httpcore
httpx
huggingface-hub
idna
Jinja2
mariadb
MarkupSafe
mpmath
multidict
multiprocess
networkx
numpy
packaging
pandas
pillow
propcache
psutil
pyarrow
pydantic
pydantic_core
python-dateutil
python-multipart
pytz
PyYAML
redis
regex
requests
safetensors
setuptools
six
sniffio
starlette
sympy
tokenizers
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
xxhash
yarl